h1 {
    background: rgb(221, 111, 71);
    background-image: url();
    line-height: 30px;
    border-radius: 5px;
    border: #160202 2px solid;
    color: rgb(10, 10, 139);
    padding: 4px;
}

a {
    line-height: 25px;
    font-family: s;
    font-weight: 550;
}

.about {
    padding: 10px;
    font-style: italic;
}

section {
    background: #cccccc;
    color: black;
    border-radius: 5px;
    border: #160202 2px solid;

}

footer {
    background: #cccccc;
    color: blue;
}

/*создание меню ссылок с разд лин и стилями*/
nav {
    background: coral;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;

    /* max-height: 900px;*/
}

menu {
    list-style: none;
}

menu li {
    display: inline-block;
    padding: 0 25px;
    background: #086becf8;
    height: 50px;
    margin: 0 -2px;
    border-right: solid 2px black;

}

menu li:first-child {
    border-left: solid 2px black;
}

menu li:hover {
    background: blue;
}

menu li a {
    display: inline-block;
    height: 50px;
    color: #000000;
    text-decoration: none;
}

menu a:hover {
    color: rgb(187, 186, 186);
    text-decoration: underline;
}



section p :hover {
    background: #086becf8;
    color: white;
}

section dd :hover {
    background: rgb(168, 166, 166);
    color: black;
}

/*.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    max-width: 100%;
}

.img-photoshop {
    max-width: 600px;
}*/


.my-video-my {
    margin: 0 auto;
    max-width: 450px;
    height: auto;
}

.my-video {
    width: 100%;
    height: auto;
    max-height: 100%;
}

.my-scratgh {
    display: flex;
    flex-direction: column;
    align-items: center;
}




.slider-portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.slider img {
    max-width: 340px;
}

.img-photoshop {
    display: block;
    width: 340px;
    margin: 5px 6px 12px;
}

.scratch-container {
    margin: 0 auto;
    max-width: 450px;
    max-height: 380px;
}